 body{
      margin: 0;
      padding: 0;
      height: 100vh;

    }
    #particles-js{
      height: 75vh;
      background:#191919;

      background-image: url(logo.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
    li{
      color: white;
      padding: 10px;
      margin-right: 35px;
    }
    a{
      color: white;
    }
    #nav{
      color: white;

    }
    #navhead{
     background:#191919;
     opacity: 0.85;
    }
    #navhead>img{
      margin-left: 7%;
    }
    #navbarSupportedContent>ul{
      font-size: 0.74em;
      font-weight: bolder;
    }
    #list{
      margin-right: 180px;
     }
    #nav:hover{
      color: black;
      text-decoration: none;
      background-color: white;
      border-radius: 45px;
      padding: 7px;
    }
    #wave{
      margin-top: -5px;
    }




    #about{
      margin-top: -90px;
    }
    #about_content>h1{
      font-family:Arial Unicode MS;
      font-size: 3.2em;
      line-height: 1.7em;
      color:#ff6f00;
    }
     #about_content>h1>span{
      font-weight: bolder;
      font-family:Arial Black;
      color: #002B46;
     }
     #about_content>p{
      font-size:1.1em;
      line-height: 1.8em;
      color:rgba(0,0,0,0.65);
     }

     #apply_section{
      background-color:#f6f7f9;
     }
     #apply_section>h1{
      text-align: center;
      color: #002B46;
     }
     #apply_section>h1>span{
      color:#ff6f00;
     }

    .card{
      height: 420px;
      border-radius: 3px;
      margin: 20px;
      background: white;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 15px 25px rgba(0,0,0,0.5);
      transition: 0.5s;
    }
    .card:hover{
      filter:blur(0px);
      transform: scale(1.1);
    }
    .circle{
      width: 400px;
      height: 100%;
      background: rgb(40, 237, 247);

      clip-path: circle(190px at center 0);
      text-align: center;
    }
    .circle h2{
      color: white;
      font-size: 2.5em;
      padding: 60px 0;
    }
    .content{
      bottom: 10px;
      page-break-after: 20px;

    }
    .content p{
      color: #666;
    }
    .register{
      display: inline-block;
      padding: 8px 3px;
      text-align: center;
      text-decoration: none;
      background: rgb(10, 217, 247);
      color: white;
      border-radius: 6px;
      margin: 12px;

      margin-right: 160px;
    }
    .register:hover{
      color: black;
      text-decoration: none;
    }





.times{
   margin: 0;
  padding: 0;

  background: rgb(230,230,230);

  color: rgb(50,50,50);
  font-family: 'Open Sans', sans-serif;
  font-size: 95.5%;
  line-height: 1.5em;
}








.counter-up{
  background: url("images/bg-2.jpeg") no-repeat;
  min-height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
}
.counter-up::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.counter-up .content{
  z-index: 1;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.counter-up .content .box{
  border: 1px dashed rgba(25,25,25,0.6);
  width: calc(25% - 30px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
}
.content .box .icon{
  font-size: 48px;
  color: rgb(145,165,154);
}
.content .box .counter{
  font-size: 50px;
  font-weight: 500;
  color: #ff6f00;
  font-family: sans-serif;
}
.content .box .text{
  font-weight:bolder;
  font-size: 1.3em;
  color:#002B46;
}

.content .box>p{
  text-align: center;
  padding: 20px;
  color: black;
}
@media screen and (max-width: 1036px) {
  .counter-up{
    padding: 50px 50px 0 50px;
  }
  .counter-up .content .box{
    width: calc(50% - 30px);
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 580px) {
  .counter-up .content .box{
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .wrapper{
    padding: 20px;
  }
  .counter-up{
    padding: 30px 20px 0 20px;
  }
}


    #OverView>p{
      color: grey;
      font-size: 1.15em;
      line-height: 1.8em;
    }


     #prize{
       padding-top: 50px;
     }
     #prize>p{
      color: grey;
      font-size: 1.2em;
     }
     #prize-text{
      font-size: 3em;
      color:#002B46;
     }


.prize_bg{
  box-shadow: 5px 8px 16px rgba(0,0,0,0.4);
  position: relative;


}
.prize_text{
  text-align: center;
  padding-top: 37px;
  font-size: 1.145em;
  font-weight: bolder;
  color: rgba(11,11,11,0.7);
}

.certificate{
    font-size: 13px;
    color: #fff;
    margin-top: 3px;
    margin-bottom: 0;
    background: #c72429;
    font-weight: 400;
    transform: rotate(45deg);
    position: absolute;
    right: -8px;
    top: 28px;
    padding: 1px 18px;
    letter-spacing: .3px;

}

.space{
  padding: 30px;
}





.faq-heading {
  font-family: Lato;
  font-weight: 400;
  padding-left: 20px;
  padding-bottom: 2px;
  font-size: 19px;
   -webkit-transition: text-indent 0.2s;

  color:#000000;
}

.faq-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 1.15em;
  color:#002B46;
  width:95%;
  padding-left:20px;

}

.faq {
  width: 80%;
  margin: 0 auto;
  background: white;
  border-radius: 4px;
  position: relative;
}
.faq label {
  display: block;
  position: relative;
  padding-top: 8px;
  overflow: hidden;
  cursor: pointer;
  height:56px;
  border-radius: 50px;
  background-color: rgba(115,205,205,0.6);

}

.faq input[type="checkbox"] {
  display: none;
}

.faq .faq-arrow {
  width: 5px;
  height: 5px;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid rgba(0, 0, 0, 0.33);
  border-right: 2px solid rgba(0, 0, 0, 0.33);
  float: right;
  position: relative;
  top: -30px;
  right: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

 .faq input[type="checkbox"]:checked + label > .faq-arrow {
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
 .faq input[type="checkbox"]:checked + label {
  display: block;
  background:rgba(25,145,165,0.5); !important;
  color: #4f7351;
  height: 20%;
  transition:height 0.15s ease-out;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

 .faq input[type='checkbox']:not(:checked) + label {
  display: block;
  transition: height 0.15s;
  height: 60px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}



body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background:rgb(250,250,250);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.6);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

input{
  padding: 5px;
}

.link_hover{
  color: #ff6f00;
}



.social-menu ul {
    position: absolute;
    top: 97%;
    left: 52%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}

#mail{
  color:white;
}
#mail:hover{
  color: rgb(145,135,165);
  text-decoration: none;
}



