 body{
      margin: 0;
      padding: 0;
      height: 100vh;

    }
    #particles-js{
      height: 90vh;
      background:rgba(25,25,220,0.86);
      background-image: url(1.jpg);
      opacity: 0.94;
      background-repeat: no-repeat;
      background-position: center;
    }
    li{
      color: white;
      padding: 10px;
      margin-right: 35px;
    }
    a{
      color: white;
    }
    #nav{
      color: white;
    }
    #nav:hover{
      color: black;
      text-decoration: none;
      background-color: white;
      border-radius: 45px;
      padding: 7px;
    }
    .card{
      height: 420px;
      margin: 20px;
      background: white;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 15px 25px rgba(0,0,0,0.5);
      transition: 0.5s;
    }
    .card:hover{
      filter:blur(0px);
      transform: scale(1.1);
    }
    .circle{
      width: 400px;
      height: 100%;
      background: rgb(40, 237, 247);

      clip-path: circle(190px at center 0);
      text-align: center;
    }
    .circle h2{
      color: white;
      font-size: 2.5em;
      padding: 60px 0;
    }
    .content{
      bottom: 10px;
      page-break-after: 20px;

    }
    .content p{
      color: #666;
    }
    .register{
      display: inline-block;
      padding: 8px 3px;
      text-align: center;
      text-decoration: none;
      background: rgb(10, 217, 247);
      color: white;
      border-radius: 6px;
      margin: 12px;

      margin-right: 160px;
    }
    .register:hover{
      color: black;
      text-decoration: none;
    }



          /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 057 css*/
        .jssorb057 .i {position:absolute;cursor:pointer;}
        .jssorb057 .i .b {fill:none;stroke:#fff;stroke-width:2000;stroke-miterlimit:10;stroke-opacity:0.4;}
        .jssorb057 .i:hover .b {stroke-opacity:.7;}
        .jssorb057 .iav .b {stroke-opacity: 1;}
        .jssorb057 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 073 css*/
        .jssora073 {display:block;position:absolute;cursor:pointer;}
        .jssora073 .a {fill:#ddd;fill-opacity:.7;stroke:#000;stroke-width:160;stroke-miterlimit:10;stroke-opacity:.7;}
        .jssora073:hover {opacity:.8;}
        .jssora073.jssora073dn {opacity:.4;}
        .jssora073.jssora073ds {opacity:.3;pointer-events:none;}




.faq-heading {
  font-family: Lato;
  font-weight: 400;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 19px;
   -webkit-transition: text-indent 0.2s;

  color: #333;
}

.faq-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 1.15em;
  color: #919191;
  width:95%;
  padding-left:20px;

}

.faq {
  width: 80%;
  margin: 0 auto;
  background: white;
  border-radius: 4px;
  position: relative;
  border: 1px solid #E1E1E1;
}
.faq label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 56px;
  padding-top:1px;

  background-color: #FAFAFA;
  border-bottom: 1px solid #E1E1E1;
}

.faq input[type="checkbox"] {
  display: none;
}

.faq .faq-arrow {
  width: 5px;
  height: 5px;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid rgba(0, 0, 0, 0.33);
  border-right: 2px solid rgba(0, 0, 0, 0.33);
  float: right;
  position: relative;
  top: -30px;
  right: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

 .faq input[type="checkbox"]:checked + label > .faq-arrow {
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
 .faq input[type="checkbox"]:checked + label {
  display: block;
  background: rgba(255,255,255,255) !important;
  color: #4f7351;
  height: 20%;
  transition:height 0.15s ease-out;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

 .faq input[type='checkbox']:not(:checked) + label {
  display: block;
  transition: height 0.15s;
  height: 60px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}



body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background:rgb(250,250,250);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.6);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

input{
  padding: 5px;
}

.link_hover{
  color: #ff6f00;
}

.social-menu ul {
    position: absolute;
    top: 97%;
    left: 52%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}


