@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body
{
  margin: 0;
  padding: 0;
	background-color:rgb(250,250,254);
}

.wrap{
  display: flex;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
}
    li{
      color: white;
      padding: 10px;
      margin-right: 30px;
    }
    a{
      color: white;
    }
    #nav{
      color: white;
    }
    #nav:hover{
      color: black;
      text-decoration: none;
      background-color: white;
      border-radius: 45px;
      padding: 7px;
    }

.containers{
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.containers .card{
  position: relative;
  width: 300px;
  height: 315px;
  background-color: #fff;
  padding: 20px 15px;
  margin:auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.containers .card:hover{
  height: 420px;
  box-shadow: 0 50px 200px rgba(0,0,0,0.95);

}

.containers .card .imgbx{

   position: relative;
   width: 260px;
   height: 260px;
   top: -60px;
   left: 0px;
   z-index: 1;
   box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);

}

.containers .card:hover .imgbx{

  box-shadow: 0 5px 50px #06d2bf;

}

.containers .card .imgbx img{
  max-width: 100%;
  border-radius: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;


}

.containers .card .content{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.containers .card:hover .content{

  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.containers .card .content h1{
  color: #3F51B5;
  font-size: 1.6em;

}

.containers .card .content h2{
  color: #3F51B5;
  font-size: 1.4em;

}

.containers .card .content p{
  color: #009688;
  font-size:1.2em;
  font-weight:600;
}


.social-icons li a i{
    padding: 5px;
    font-size: 1.1rem;
    border-radius: 50%;
    color: black;
    text-decoration: none;
}
.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px #03A9F4;


}
.social-icons li {
    display: inline-block;
    margin: 10px 8px 8px 0px;
    font-weight: 100;
}





input{
  padding: 6px;
}

.link_hover{
  color: #ff6f00;
}

.social-menu ul {
    position: absolute;
    top: 97%;
    left: 52%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}






